 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. <br>
i. WAP to add 200 and 300 to L. <br>
ii. WAP to remove 10 and 30 from L. <br>
iii. WAP to sort L in ascending order. <br>
iv. WAP to sort L in descending order. <br>

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print('List after adding 200 and 300: ')
print(L)
L.remove(10)
L.remove(30)
print('\nList after removing 10 and 30: ')
print(L)
L.sort()
print('\nList in ascending order: ')
print(L)
L.sort(reverse = True)
print('\nList in descending order: ')
print(L)

List after adding 200 and 300:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

List after removing 10 and 30:
[20, 40, 50, 60, 70, 80, 200, 300]

List in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]

List in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: <br>
i. Identify the highest score and its index in the tuple. <br>
ii. Find the lowest score and count how many times it appears. <br>
iii. Reverse the tuple and return it as a list. <br>
iv. Check if a specific score '76' (input by the user) is present in the tuple and print its first occurrence index, or a message saying it's not present.

In [1]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print("The highest score is ", highest_score, " at index ", highest_index)

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print("The lowest score is " ,lowest_score , "and it appears ", lowest_count, "times.")

reversed_list = list(reversed(scores))
print("The reversed tuple as a list: ", reversed_list)

specific_score = 76
if specific_score in scores:
    first_occurrence_index = scores.index(specific_score)
    print("The score ", specific_score, " is present at index ", first_occurrence_index)
else:
    print("The score ", specific_score, "is not present in the tuple.")

The highest score is  92  at index  5
The lowest score is  45 and it appears  2 times.
The reversed tuple as a list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
The score  76  is present at index  2

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the: <br>
i. All odd numbers <br>
ii. All even numbers <br>
iii. All prime numbers

In [2]:
import random

def check_prime(x):
    if x <= 1:
        return False
    for y in range(2, int(x**0.5) + 1):
        if x % y == 0:
            return False
    return True

nums = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in nums if n % 2 != 0]
evens = [n for n in nums if n % 2 == 0]
primes = [n for n in nums if check_prime(n)]

print("Random numbers: ", nums)
print("\nTotal Odd Numbers:", len(odds))
print("Odd Numbers:", odds)
print("\nTotal Even Numbers:", len(evens))
print("Even Numbers:", evens)
print("\nTotal Prime Numbers:", len(primes))
print("Prime Numbers:", primes)

Random numbers:  [294, 764, 420, 611, 899, 723, 263, 540, 254, 558, 642, 866, 133, 574, 116, 795, 675, 524, 650, 645, 576, 452, 647, 259, 890, 626, 277, 682, 686, 231, 622, 351, 286, 819, 258, 475, 491, 584, 416, 465, 515, 673, 721, 841, 738, 126, 585, 827, 186, 834, 471, 360, 659, 574, 615, 479, 865, 132, 792, 500, 220, 715, 807, 171, 314, 714, 761, 618, 219, 728, 115, 752, 399, 193, 125, 115, 618, 688, 353, 174, 862, 389, 420, 210, 505, 619, 599, 376, 804, 772, 315, 690, 665, 345, 462, 883, 158, 836, 447, 581]

Total Odd Numbers: 49
Odd Numbers: [611, 899, 723, 263, 133, 795, 675, 645, 647, 259, 277, 231, 351, 819, 475, 491, 465, 515, 673, 721, 841, 585, 827, 471, 659, 615, 479, 865, 715, 807, 171, 761, 219, 115, 399, 193, 125, 115, 353, 389, 505, 619, 599, 315, 665, 345, 883, 447, 581]

Total Even Numbers: 51
Even Numbers: [294, 764, 420, 540, 254, 558, 642, 866, 574, 116, 524, 650, 576, 452, 890, 626, 682, 686, 622, 286, 258, 584, 416, 738, 126, 186, 834, 360, 574, 132, 792, 500, 220, 314, 714, 618, 728, 752, 618, 688, 174, 862, 420, 210, 376, 804, 772, 690, 462, 158, 836]

Total Prime Numbers: 15
Prime Numbers: [263, 647, 277, 491, 673, 827, 659, 479, 761, 193, 353, 389, 619, 599, 883]