***1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. <br>
i. WAP to add 200 and 300 to L. <br>
ii. WAP to remove 10 and 30 from L. <br>
iii. WAP to sort L in ascending order. <br>
iv. WAP to sort L in descending order.***

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print('List after adding 200 and 300: ')
print(L)
L.remove(10)
L.remove(30)
print('\nList after removing 10 and 30: ')
print(L)
L.sort()
print('\nList in ascending order: ')
print(L)
L.sort(reverse = True)
print('\nList in descending order: ')
print(L)

List after adding 200 and 300:
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

List after removing 10 and 30:
[20, 40, 50, 60, 70, 80, 200, 300]

List in ascending order:
[20, 40, 50, 60, 70, 80, 200, 300]

List in descending order:
[300, 200, 80, 70, 60, 50, 40, 20]

***2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: <br>
i. Identify the highest score and its index in the tuple. <br>
ii. Find the lowest score and count how many times it appears. <br>
iii. Reverse the tuple and return it as a list. <br>
iv. Check if a specific score '76' (input by the user) is present in the tuple and print its first occurrence index, or a message saying it's not present.***

In [ ]:
from ast import Return
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest = max(scores)
h_idx = scores.index(highest)
print("Highest score: ", highest, "\nindex: ", h_idx,"\n")
lowest = min(scores)
countt = scores.count(lowest)
print("Lowest score: ", lowest, "\nCount: ", countt, "\n")
scores = list(scores)
scores.reverse()
print("Reversed: ", scores)
scores.reverse()
num = input("\nEnter the number to be searched: ")
count_ = 0
for n in scores:
  if(str(n)==num):
    print(num, "is present at", scores.index(n))
    count_ = count_ + 1
    Return
if(count_ == 0):
  print(num, "is not present")

Highest score:  92
index:  5

Lowest score:  45
Count:  2

Reversed:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter the number to be searched: 86
86 is not present

***3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the: <br>
i. All odd numbers <br>
ii. All even numbers <br>
iii. All prime numbers***

In [6]:
import random
list = []
for i in range(100,901):
  list.append(random.randint(100,900))
print('List: ',list)

odd_list = []
even_list = []
prime_list=[]
for i in list:
  if(i%2==0):
    even_list.append(i)
  else:
    odd_list.append(i)

for n in list:
  check = 0
  for i in range(2,n//2+1):
    if(n%i==0):
      check = check+1
  if check == 0:
    prime_list.append(n)

print('\nOdd List: ',odd_list)
print('\nEven List: ',even_list)
print('\nPrime List: ',prime_list)

List:  [680, 338, 248, 853, 350, 601, 827, 369, 725, 208, 110, 104, 499, 720, 192, 331, 890, 370, 533, 511, 729, 203, 683, 240, 263, 432, 197, 362, 186, 503, 579, 842, 638, 736, 723, 259, 720, 169, 524, 279, 540, 104, 328, 418, 746, 885, 100, 331, 707, 123, 813, 609, 106, 765, 610, 669, 233, 677, 120, 656, 580, 154, 619, 659, 806, 438, 298, 739, 317, 401, 488, 381, 268, 439, 229, 882, 351, 872, 390, 201, 387, 370, 885, 725, 100, 133, 111, 750, 279, 477, 370, 884, 311, 647, 391, 772, 369, 508, 614, 446, 102, 134, 803, 824, 238, 553, 143, 508, 169, 792, 829, 464, 873, 383, 559, 486, 737, 575, 570, 691, 182, 774, 143, 718, 208, 336, 327, 340, 387, 817, 299, 750, 802, 356, 202, 215, 202, 678, 198, 739, 855, 377, 413, 294, 722, 160, 614, 181, 105, 431, 851, 663, 675, 251, 429, 782, 148, 186, 786, 751, 628, 315, 781, 804, 304, 823, 440, 709, 496, 571, 784, 357, 654, 362, 276, 287, 665, 856, 418, 214, 732, 286, 123, 835, 266, 875, 507, 172, 657, 885, 860, 274, 793, 505, 741, 257, 700, 437, 219, 402, 419, 775, 491, 206, 890, 540, 403, 364, 342, 515, 655, 150, 311, 583, 125, 798, 238, 433, 481, 539, 873, 545, 866, 105, 268, 450, 541, 351, 835, 305, 348, 777, 667, 270, 427, 617, 520, 152, 595, 234, 455, 848, 164, 339, 149, 414, 127, 295, 750, 541, 792, 624, 219, 802, 763, 305, 407, 141, 342, 319, 551, 604, 257, 375, 462, 448, 541, 776, 713, 852, 408, 292, 851, 896, 594, 454, 825, 350, 618, 159, 254, 311, 620, 298, 101, 811, 675, 696, 799, 860, 212, 202, 807, 462, 815, 471, 360, 114, 386, 834, 487, 436, 347, 401, 763, 394, 387, 623, 136, 798, 474, 512, 495, 449, 643, 172, 248, 279, 441, 744, 272, 733, 678, 176, 482, 276, 814, 887, 496, 573, 265, 661, 279, 165, 687, 487, 356, 609, 619, 185, 133, 592, 764, 582, 550, 802, 485, 487, 159, 419, 576, 336, 852, 513, 157, 816, 442, 328, 892, 283, 291, 404, 381, 376, 789, 421, 224, 370, 637, 422, 736, 162, 672, 155, 207, 796, 551, 754, 900, 423, 299, 715, 670, 649, 236, 607, 286, 868, 304, 418, 241, 657, 411, 497, 416, 194, 720, 725, 874, 614, 123, 283, 682, 648, 514, 283, 409, 131, 225, 828, 689, 624, 683, 195, 818, 271, 534, 604, 155, 451, 897, 123, 705, 853, 731, 353, 381, 542, 744, 750, 586, 329, 617, 264, 720, 388, 416, 410, 481, 131, 825, 276, 180, 139, 264, 786, 288, 261, 411, 183, 730, 471, 433, 428, 499, 469, 776, 412, 795, 791, 287, 785, 822, 274, 866, 851, 698, 636, 584, 766, 176, 644, 580, 348, 433, 762, 555, 447, 384, 614, 687, 484, 265, 418, 130, 100, 688, 579, 166, 366, 469, 721, 487, 629, 677, 221, 746, 784, 827, 788, 412, 374, 900, 881, 279, 579, 798, 635, 264, 122, 860, 754, 736, 348, 804, 177, 576, 139, 207, 295, 431, 493, 721, 183, 541, 545, 571, 734, 889, 230, 105, 390, 848, 872, 511, 539, 738, 604, 274, 127, 879, 432, 886, 592, 463, 116, 652, 855, 210, 557, 665, 651, 865, 400, 282, 418, 315, 611, 882, 827, 485, 686, 866, 769, 822, 192, 825, 754, 853, 360, 409, 219, 181, 787, 274, 572, 205, 179, 811, 225, 719, 619, 684, 215, 562, 284, 272, 738, 755, 747, 498, 774, 435, 501, 638, 749, 321, 126, 810, 817, 345, 100, 264, 531, 206, 484, 175, 523, 694, 295, 503, 210, 590, 644, 300, 877, 171, 180, 806, 896, 765, 634, 894, 263, 171, 744, 868, 101, 689, 417, 736, 722, 657, 421, 540, 425, 263, 627, 398, 210, 432, 612, 599, 707, 789, 712, 241, 859, 185, 480, 129, 804, 420, 330, 201, 690, 266, 472, 173, 834, 367, 687, 476, 366, 530, 590, 202, 201, 858, 436, 349, 586, 389, 106, 678, 597, 719, 789, 422, 599, 572, 306, 406, 606, 219, 516, 164, 396, 369, 422, 769, 516, 855, 702, 754, 118, 194, 372, 696, 779, 617, 898, 886, 403, 335, 304, 716, 778, 602, 724, 435, 356, 792, 839, 270, 403, 739, 745, 783, 644, 415, 440, 228, 827, 251, 874, 438, 881, 290, 795, 485, 166, 388, 591, 380, 208, 234, 339, 793, 286, 864, 488, 643, 249, 485, 727, 399, 274, 415, 176, 830, 602, 535, 684, 854, 767, 832, 760, 680, 237, 762, 287, 413, 114, 322, 178, 240, 310, 589, 703, 410, 792, 158, 813, 275, 853, 631, 665, 160, 225, 491, 355, 620, 185, 644, 537, 191, 710, 614, 588, 323, 255, 334, 615, 784, 899, 539, 268, 210, 833, 846]

Odd List:  [853, 601, 827, 369, 725, 499, 331, 533, 511, 729, 203, 683, 263, 197, 503, 579, 723, 259, 169, 279, 885, 331, 707, 123, 813, 609, 765, 669, 233, 677, 619, 659, 739, 317, 401, 381, 439, 229, 351, 201, 387, 885, 725, 133, 111, 279, 477, 311, 647, 391, 369, 803, 553, 143, 169, 829, 873, 383, 559, 737, 575, 691, 143, 327, 387, 817, 299, 215, 739, 855, 377, 413, 181, 105, 431, 851, 663, 675, 251, 429, 751, 315, 781, 823, 709, 571, 357, 287, 665, 123, 835, 875, 507, 657, 885, 793, 505, 741, 257, 437, 219, 419, 775, 491, 403, 515, 655, 311, 583, 125, 433, 481, 539, 873, 545, 105, 541, 351, 835, 305, 777, 667, 427, 617, 595, 455, 339, 149, 127, 295, 541, 219, 763, 305, 407, 141, 319, 551, 257, 375, 541, 713, 851, 825, 159, 311, 101, 811, 675, 799, 807, 815, 471, 487, 347, 401, 763, 387, 623, 495, 449, 643, 279, 441, 733, 887, 573, 265, 661, 279, 165, 687, 487, 609, 619, 185, 133, 485, 487, 159, 419, 513, 157, 283, 291, 381, 789, 421, 637, 155, 207, 551, 423, 299, 715, 649, 607, 241, 657, 411, 497, 725, 123, 283, 283, 409, 131, 225, 689, 683, 195, 271, 155, 451, 897, 123, 705, 853, 731, 353, 381, 329, 617, 481, 131, 825, 139, 261, 411, 183, 471, 433, 499, 469, 795, 791, 287, 785, 851, 433, 555, 447, 687, 265, 579, 469, 721, 487, 629, 677, 221, 827, 881, 279, 579, 635, 177, 139, 207, 295, 431, 493, 721, 183, 541, 545, 571, 889, 105, 511, 539, 127, 879, 463, 855, 557, 665, 651, 865, 315, 611, 827, 485, 769, 825, 853, 409, 219, 181, 787, 205, 179, 811, 225, 719, 619, 215, 755, 747, 435, 501, 749, 321, 817, 345, 531, 175, 523, 295, 503, 877, 171, 765, 263, 171, 101, 689, 417, 657, 421, 425, 263, 627, 599, 707, 789, 241, 859, 185, 129, 201, 173, 367, 687, 201, 349, 389, 597, 719, 789, 599, 219, 369, 769, 855, 779, 617, 403, 335, 435, 839, 403, 739, 745, 783, 415, 827, 251, 881, 795, 485, 591, 339, 793, 643, 249, 485, 727, 399, 415, 535, 767, 237, 287, 413, 589, 703, 813, 275, 853, 631, 665, 225, 491, 355, 185, 537, 191, 323, 255, 615, 899, 539, 833]

Even List:  [680, 338, 248, 350, 208, 110, 104, 720, 192, 890, 370, 240, 432, 362, 186, 842, 638, 736, 720, 524, 540, 104, 328, 418, 746, 100, 106, 610, 120, 656, 580, 154, 806, 438, 298, 488, 268, 882, 872, 390, 370, 100, 750, 370, 884, 772, 508, 614, 446, 102, 134, 824, 238, 508, 792, 464, 486, 570, 182, 774, 718, 208, 336, 340, 750, 802, 356, 202, 202, 678, 198, 294, 722, 160, 614, 782, 148, 186, 786, 628, 804, 304, 440, 496, 784, 654, 362, 276, 856, 418, 214, 732, 286, 266, 172, 860, 274, 700, 402, 206, 890, 540, 364, 342, 150, 798, 238, 866, 268, 450, 348, 270, 520, 152, 234, 848, 164, 414, 750, 792, 624, 802, 342, 604, 462, 448, 776, 852, 408, 292, 896, 594, 454, 350, 618, 254, 620, 298, 696, 860, 212, 202, 462, 360, 114, 386, 834, 436, 394, 136, 798, 474, 512, 172, 248, 744, 272, 678, 176, 482, 276, 814, 496, 356, 592, 764, 582, 550, 802, 576, 336, 852, 816, 442, 328, 892, 404, 376, 224, 370, 422, 736, 162, 672, 796, 754, 900, 670, 236, 286, 868, 304, 418, 416, 194, 720, 874, 614, 682, 648, 514, 828, 624, 818, 534, 604, 542, 744, 750, 586, 264, 720, 388, 416, 410, 276, 180, 264, 786, 288, 730, 428, 776, 412, 822, 274, 866, 698, 636, 584, 766, 176, 644, 580, 348, 762, 384, 614, 484, 418, 130, 100, 688, 166, 366, 746, 784, 788, 412, 374, 900, 798, 264, 122, 860, 754, 736, 348, 804, 576, 734, 230, 390, 848, 872, 738, 604, 274, 432, 886, 592, 116, 652, 210, 400, 282, 418, 882, 686, 866, 822, 192, 754, 360, 274, 572, 684, 562, 284, 272, 738, 498, 774, 638, 126, 810, 100, 264, 206, 484, 694, 210, 590, 644, 300, 180, 806, 896, 634, 894, 744, 868, 736, 722, 540, 398, 210, 432, 612, 712, 480, 804, 420, 330, 690, 266, 472, 834, 476, 366, 530, 590, 202, 858, 436, 586, 106, 678, 422, 572, 306, 406, 606, 516, 164, 396, 422, 516, 702, 754, 118, 194, 372, 696, 898, 886, 304, 716, 778, 602, 724, 356, 792, 270, 644, 440, 228, 874, 438, 290, 166, 388, 380, 208, 234, 286, 864, 488, 274, 176, 830, 602, 684, 854, 832, 760, 680, 762, 114, 322, 178, 240, 310, 410, 792, 158, 160, 620, 644, 710, 614, 588, 334, 784, 268, 210, 846]

Prime List:  [853, 601, 827, 499, 331, 683, 263, 197, 503, 331, 233, 677, 619, 659, 739, 317, 401, 439, 229, 311, 647, 829, 383, 691, 739, 181, 431, 251, 751, 823, 709, 571, 257, 419, 491, 311, 433, 541, 617, 149, 127, 541, 257, 541, 311, 101, 811, 487, 347, 401, 449, 643, 733, 887, 661, 487, 619, 487, 419, 157, 283, 421, 607, 241, 283, 283, 409, 131, 683, 271, 853, 353, 617, 131, 139, 433, 499, 433, 487, 677, 827, 881, 139, 431, 541, 571, 127, 463, 557, 827, 769, 853, 409, 181, 787, 179, 811, 719, 619, 523, 503, 877, 263, 101, 421, 263, 599, 241, 859, 173, 367, 349, 389, 719, 599, 769, 617, 839, 739, 827, 251, 881, 643, 727, 853, 631, 491, 191]

***4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}<br>
WAP to perform the following operations using set functions:<br>
i. Find the unique scores achieved by both teams (union of sets).<br>
ii. Identify the scores that are common to both teams (intersection of sets).<br>
iii. Find the scores that are exclusive to each team (symmetric difference).<br>
iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.<br>
v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.***

In [13]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print('Unique scores:',A.union(B))
print('Common Scores:', A.intersection(B))
print('Exclusive scores:',A.symmetric_difference(B))
print('Is A a subset of B:',A.issubset(B))
print('Is B a superset of A:',B.issuperset(A))
n = int(input('Enter the number: '))
if(n in A):
  A.remove(n)
  print('A after removal:',A)
else:
  print('Number entered is not present')

Unique scores: {34, 45, 78, 23, 56, 90}
Common Scores: {90, 78}
Exclusive scores: {34, 45, 23, 56}
Is A a subset of B: False
Is B a superset of A: False
Enter the number: 56
A after removal: {34, 90, 78}

***5. Write a program to rename a key city to a location in the following dictionary.***

In [14]:
cities = {
    "New York": "USA",
    "Mumbai": "India",
    "Paris": "France",
    "Berlin": "Germany"
}

print("Original dictionary:", cities)

old = "Berlin"
new = "Frankfurt"

if old in cities:
    cities[new] = cities.pop(old)
    print('Renamed key :',old ,'to ', new)
else:
   print('Key :',old ,'is not found')

print("Updated dictionary:", cities)

Original dictionary: {'New York': 'USA', 'Mumbai': 'India', 'Paris': 'France', 'Berlin': 'Germany'}
Renamed key : Berlin to  Frankfurt
Updated dictionary: {'New York': 'USA', 'Mumbai': 'India', 'Paris': 'France', 'Frankfurt': 'Germany'}